.form-control {
  border-radius: 0.25rem;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 2.5;
  border: 1px solid #ced4da;
  background-color: white;
  width: 100%;
}

.mt-3 {
  margin-top: 1rem;
}
.form-group.card-number {
  flex-direction: column;
}

.form-group.card-number .form-label {
  margin-bottom: 0.5rem;
}

.form {
  width: auto;
}